<div class="col-10 offset-1">
  <h1>About GGKargo</h1>
  <br>
  <br>
  <p>
    GG Kargo, LLC was formed on August 12, 2008, with the intent to assist Filipinos and ex-patriots with the sending of their personal and household items, via Balikbayan Boxes, to their families and friends who reside in the Philippines, in a safe and responsible manner.  The sponsors for the company were Dr. Emmanuel Montero, Dr. Merilyn Capinig, Engr. Agustin Capinig, Merijun C. Allen, PT and Andre' P. Allen, Realtor and Entrepreneur.
  </p>
  <br>
  <p>
    Over the years, GG Kargo, LLC. has shipped hundreds of boxes, and other items, on behalf of its customers.  GG Kargo, LLC. wants to be the shipper of choice and continues to strive to achieve that goal.
  </p>
  <br>
  <p>
    For our customer, it is important that you are aware that your Balikbayan Box shipment is being handled by a company that cares and will always do what it can to provide you with a positive shipping experience. 
  </p>
  <br>
  <h3>
    We believe that a box is a box, but it's the Service that counts!
  </h3>
</div>
