<div class="col10 offset-1">
  <h1>Frequently Asked Questions</h1>
  <br>
  <h4>What are "balikbayan boxes"?</h4>
  <p>Balikbayan Boxes are packages of personal effects and/or “pasalubongs” sent by Filipinos residing or working abroad to their families or relatives in the Philippines to enhance Philippine tradition and culture for the promotion and preservation of strong family ties through love and caring expressed in gift-giving.</p>
  <h4>What are allowed in balikbayan boxes?</h4>
  <p>Non-commercial goods or goods not in commercial quantity strictly for personal use only, such as: wearing apparel, clothing, foodstuffs/grocery items/canned goods; the value of which must not exceed US$500.00.</p>
  <h4>How often can Filipinos residing or working abourad send a "balikbayan box" to their families and relatives in the Philippines?</h4>
  <p>One consignor/sender is allowed to send one (1) box during a six (6) -month period.</p>
  <h4>What is a consolidated door-to-door shipment?</h4>
  <p>Two (2) or more balikbayan boxes from two (2) or more individual consignors/senders abroad, assembled and consolidated at one point of origin/exportation and shipped together under a single master ocean bill of lading or master airway bill by a freight forwarder/consolidator to its breakbulk/consolidator agent in the Philippines.</p>
  <h4>Who si allowed to consolidate "balikbayan boxes" abroad?</h4>
  <p>A foreign freight forwarding entity/ consolidator duly licensed and registered with the Philippine consular office.</p>
  <h4>Who is allowed to release a consolidated door-to-door shipments from the Philippine Bureau of Customs?</h4>
  <p>lading or master airway bill as consignee of a consolidated shipment duly licensed by the Philippine Shippers’ Bureau (PSB) of the Department of Trade and Industry (DTI).</p>
  <h4>Are the "balikbayan boxes" opened by the Philippine customs?</h4>
  <p>Yes, a 100% examination of the consolidated shipment is required by law:
     To protect the legitimate interests of consignors/senders and their consignees, in particular, and the transacting public, in general;
     To protect the interest of the government;
     To prevent and suppress smuggling and other fraud upon customs.</p>
  <h4>Where can we check and verify the list of ligitimate and Philippne Shippers' Bureau-accredited freight Forwarders/Brokers?</h4>
  <p>Verification can be made with the Philippine Shippers’ Bureau (PSB) under the Department of Trade and Industry on their website: www.dti.gov.ph/</p>
  <h4>Who delivers the "balikbayan boxes" to the consignees/recipients?</h4>
  <p>The Philippine agent/representative of a freight forwarder/consolidator named in a master bill of lading or master airway bill as consignee of a consolidated shipment duly licensed by the Philippine Shippers’ Bureau (PSB) of the Department of Trade and Industry (DTI) and/or a local delivery company hired by the Philippine agent.</p>
  <h4>What causes the delay/non-delivery of the boxes to their consignees?</h4>
    <li>Unforeseen circumstances and/or natural calamity like typhoon that sets back the arrival of cargo carrying vessels;</li>
    <li>Consolidated shipments are tainted by:
      <li>Undeclared and/or mistakenly declared goods;</li>
      <li>Banned or regulated cargoes like firearms and ammunitions, prohibited drugs, pornographic materials, gambling materials/apparatus;</li>
      <li>Goods in commercial quantity;</li>
    </li>
    <li>Consolidated shipments that are abandoned by the Philippine agent/ representative/ broker for reasons of non-remittance of funds by the foreign freight forwarding entity/ consolidator.</li>
  <h4>Are completely-knocked-down (CKD) motorcycles or part of motor vehicles that are for personal use, allowed in "balikbayan boxes"?</h4>
    <p>No, these are not allowed in “Balikbayan” Boxes. These are not considered personal effects or household good and are thus treated differently; other documentary requirements are needed for these to be brought into the Philippines without which these vehicles cannot be registered with the land Transportation Office (LTO).</p>
  <h4>When is the ideal time to ship?</h4>
    <p>The ideal time for a Ship depends on various factors – holidays, personal agenda etc... You should try to avoid peak season, if possible (summers and year-end). On a personal level, you should consider the urgency of the shipment, children’s education, and other family priorities. Better planning leads to a stress-free shipment. </p>
  <h4>How much time does the entire shipping process take?</h4>
    <p>Typically any shipment going to the Philippines will take anywhere from 35-90 days, depending on where the final destination will be.  Here at GG Kargo, LLC, we offer consultation to help you with the decision and shipping process.</p>
  <h4>How can I cut down my expenses?</h4>
    <p>Advance planning can save you money.  Shipping companies usually charge high for last minute jobs, and in peak season.  In some instances, bringing your box(s) directly to the shipping company, there is usually a discount of some kind.</p>
  <h4>Are there any additional shipping costs and do you offer any other size box?</h4>
    <p>There could be.  For example, our boxes are 24x18x24 (6 cu ft).  If you were to send a box that is larger, there would be an additional per cu. ft. charge and/or a handling fee.  To compute the cubic foot of your box, the formula is:  LxWxH/1728. 
    We do not offer smaller sized boxes.  We have found that most of our customers want to ship as much as they can to their family and friends.  Offering a smaller sized box is not cost effective for the customer because the difference in the shipping price of a small box vs our 6 cu ft box is virtually the same.  We estimate that the customer only saves $10 when they ship a 4.5 to 5 cu. ft. box.</p>
  <h4>When is the payment doe and how do you accept payment?</h4>
    <p>You will need to pay at the time your shipment is picked up.  We accept cash, credit cards (3.30% Transaction Fee added to final total) and checks (made payable to GG Kargo, LLC). </p>
  <h4>How can I help the Shipping company?</h4>
    <p>You can help by being prepared on the day of Shipping.  Have your box(s) labeled with the Consignee's name and address on two sides of the box.  Be prepared to provide contact information for your consignee.  The box will not be delivered to anyone other than the person it is designated to be delivered to.  Have the box(s) closed, and taped, ready to ship.</p>
</div>