<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Welcome to GGKargo!</h1>
    <br />
    <h2>Sending Balikbayan boxes to the Philippines</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Service Area</h3>
      <ul>
        <li>North Carolina</li>
        <li>South Carolina</li>
        <li>Tennessee(Nashville area)</li>
        <li>Southern Virginia</li>
      </ul>
  </div>

  <div class="col-12 col-sm">
    <h3>Shipping To</h3>
      <ul>
        <li>Metro Manila</li>
        <li>Luzon</li>
        <li>Visayas</li>
        <li>Mindanao</li>
      </ul>
  </div>

  <div class="col-12 col-sm">
    <h3>Box Tracker</h3>
      <br />
      <%= link_to 'Track My Box', '#', class: 'btn btn-primary' %>
  </div>
</div>