<div class="col-10 offset-1">
  <h1>Packing Tips</h1>
  <br>
  <p>
    This page is only designed to provide you with suggestions on how to pack the items you are shipping safely.  Please note that when closing your box, wrap the box in duck tape (top, bottom, sides) and please make sure it closes flat.  Boxes that are overpacked may incur an additional shipping charge.
  </p>
  <br>
  <p>
    GG Kargo, LLC. does not take any responsibility of any kind should an item break while in transit.  You are free to use your own method of packing and should, therefore, use this information as guide only.
  </p>
  <br>
  <li>Fragile Items</li>
    <p>Wrap all fragile items with bubble wrap. Our standard boxes help you save such items. Use tape to wrap mirrors and glass frames. Label such items FRAGILE.</p>
  <li>Appliances</li>
    <p>Use kitchen towels, linen or inkless newsprint to wrap small appliances. Put a layer of paper or bubble wrap in the carton before putting the appliances. For bigger appliances, read packing instructions in the manual. Get thick packing if you do not have the original packing material. Remove removable parts from the appliances before packing.</p>
  <li>Electronic Items</li>
    <p>Ideally, original packing should be used. Otherwise, use bubble wraps to wrap them before putting in box.</p>
  <li>Furniture</li>
    <p>Safely store the nuts and bolts of furniture while disassembling. Put in a plastic bag and attach with carton. Shut drawers with tape. Do not forget to wrap exposed leg pieces of furniture. Use furniture wrap to prevent scratches.</p>
  <li>Kitchenware</li>
    <p>Wrap breakable items in bubble wrap. Use bubble wrap between glass plates and bowls. Put heavy items at the bottom of a box. Wrap unbreakable items in inkless newsprint. Separate the delicate items with cell packs. Pack essential (daily needs) items in a separate box.</p>
  <li>Collectibles/Glass</li>
    <p>Wrap each piece with bubble wrap. Use lots of packing material in between, on side and on top. Give padding at the bottom of the box. Do not forget to label FRAGILE.</p>
  </div>